.auth {
  &__row {
    display: flex;
    align-items: center;
    justify-content: center;

    &--between {
      justify-content: space-between;
    }
  }

  &__logo {
  }

  &__title {
    @include styletext(24px, $admin_title, 28px);
    margin-left: 11px;
  }

  &__content {
    max-width: 376px;
    background-color: $white;
    box-shadow: 0px 3.5px 35px rgba(90, 97, 105, 0.1),
      0px 5px 5px rgba(90, 97, 105, 0.06), 0px 2px 4px rgba(90, 97, 105, 0.12),
      0px 1px 0px rgba(90, 97, 105, 0.11);
    border-radius: 9px;
    padding: 20px 18px;
    margin-top: 16px;
  }

  &__subtitle {
    @include styletext(17.5px, $admin_title, 20px);
    letter-spacing: -0.4375px;
    text-align: center;
  }

  &__form {
    margin-top: 35px;
  }

  &__label {
    @include styletext(10.5px, $admin_subtitle, 12px);
    // margin-top: 15px;
    // display: block;

    &:first-child {
      // margin-top: 0;
    }
  }

  &__input {
    width: 100%;
    border: 0.5px solid $admin_border;
    border-radius: 3px;
    @include styletext(11px, $admin_title, 13px);
    padding: 8px 11px;
    margin-top: 8px;
    margin-bottom: 15px;
  }

  &__link {
    cursor: pointer;
    @include styletext(10.5px, $blue, 12px);
    letter-spacing: -0.18421px;
  }

  &__button {
    background: $blue;
    @include styletext(11.5px, $white, 13px);
    letter-spacing: -0.0821429px;
    padding: 8px 0;
    width: 110px;
    border-radius: 4px;
  }
}

.sidebar {
  &__container {
    width: 285px;
    height: 100%;
    padding: 0;
    background-color: $white;
    box-shadow: 0px 3.5px 17.5px rgba(165, 182, 201, 0.1),
      0px 7.5px 11px rgba(90, 97, 105, 0.1), 0px 2px 4px rgba(90, 97, 105, 0.12),
      0px 1px 75px rgba(90, 97, 105, 0.11);
    position: relative;
  }

  &__menu {
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 23px 0;
    width: 100%;
    justify-content: center;
    box-shadow: inset 0px -1px 0px #e1e5eb;
  }

  &__image {
    width: 21.5px;
  }

  &__title {
    @include styletext(16px, $admin_title, 18px);
    margin-left: 7px;
  }

  &__list {
  }

  &__item {
    display: flex;
    align-items: center;
    @include styletext(15px, $admin_title, 17px);
    letter-spacing: -0.234375px;
    padding: 20px 0 20px 28px;
    box-shadow: inset 0px -1px 0px #e1e5eb;
    cursor: pointer;

    &:hover {
      background-color: #fbfbfb;
      color: $blue;
      box-shadow: inset 4px 0px 0px #007bff, inset 0px -1px 0px #e1e5eb;

      .sidebar__icon path {
        fill: $blue;
      }
    }
  }

  &__icon {
    margin-right: 13px;
  }
}

.body {
  width: 100%;

  &__container {
    height: 100%;
    // background-color: $admin_bcg;
  }

  &-header {
    background-color: $white;

    &--flex {
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);
    }

    &__search {
      padding: 26px 28px;
    }

    &__label {
      display: flex;
    }

    &__input {
      margin-left: 10px;
      @include styletext(13px, #767f9d, 15px);
      letter-spacing: -0.0928572px;
      width: 200px;
    }

    &__wrap {
      display: flex;
    }

    &__notification {
      padding: 23px 26px;
      box-shadow: -0.5px 0px 0px #cacedb, 0.5px 0px 0px #cacedb;
      position: relative;
    }

    &__icon {
      &--width {
        width: 17px;
        // height: 21px;
      }
    }

    &__count {
      display: block;
      width: 14px;
      height: 14px;
      background-color: #c4183c;
      @include styletext(9px, $white, 13px);
      text-align: center;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &__user {
      display: flex;
      align-items: center;
      padding: 13px 32px 13px 25px;
    }

    &__avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }

    &__name {
      @include styletext(15px, #5a6169, 17px);
      letter-spacing: -0.471429px;
      margin-left: 13px;
      margin-right: 55px;
    }
  }

  &-main {
    &__container {
      padding: 28px 27px;
    }

    &__title {
      @include styletext(29px, $admin_title, 33px);
      letter-spacing: -0.725px;
    }

    &__wrap {
      margin-top: 30px;
      display: flex;
      align-items: flex-start;
      // justify-content: space-between;
      // flex-wrap: wrap;

      &--nowrap {
        flex-wrap: wrap;
        justify-content: space-between;
      }

      &--margin {
        margin-top: 13px;
      }

      &--end {
        align-items: flex-end;
      }

      &--between {
        justify-content: space-between;
      }
    }

    &__card {
      max-width: 334px;
      width: 100%;
      background-color: $white;
      border-radius: 9px;
      box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
    }

    &__info {
      text-align: center;
      padding: 34px 15px 22px 15px;
    }

    &__image {
      margin: 0 auto;
    }

    &__model {
      @include styletext(24.5px, $admin_title, 28px);
      letter-spacing: -0.6125px;
      margin-top: 10px;
    }

    &__type {
      @include styletext(12.5px, #818ea3, 14px);
      letter-spacing: -0.3125px;
      margin-top: 5px;
    }

    &__file {
      border: 0.5px solid $admin_border;
      box-sizing: border-box;
      border-radius: 4px;
      display: inline-block;
      margin-top: 10px;

      & input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      & span {
        display: inline-block;
        padding-top: 8px;
        padding-bottom: 9.5px;
        @include styletext(10px, $admin_subtitle, 12px);
      }
    }

    &__choose {
      width: 166px;
      padding-left: 13px;
      text-align: left;
    }

    &__overview {
      width: 65px;
      text-align: center;
      border-left: 0.5px solid $admin_border;
      background-color: #e9ecef;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: pointer;
    }

    &__fuel {
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12),
        0px -1px 0px rgba(0, 0, 0, 0.12);
      padding: 14px 22px 16px 22px;
    }

    &__filled {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__label {
      @include styletext(13px, #868e96, 15px);
      letter-spacing: -0.408571px;

      &--bold {
        font-weight: bold;
      }
    }

    &__percent {
      @include styletext(11px, #5a6169, 13px);
      letter-spacing: -0.345714px;
    }

    &__progress {
      width: 100%;
      height: 5px;
      // position: relative;
      box-shadow: inset 0px 0.5px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      margin-top: 10px;
    }

    &__current {
      width: 74%;
      height: 5px;
      background-color: $blue;
      border-radius: 4px;
    }

    &__description {
      padding: 22px 25px 45px 22px;
    }

    &__text {
      @include styletext(13.5px, #5a6169, 19px);
      letter-spacing: -0.408571px;
      margin-top: 13px;
    }

    &__settings {
      box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
      border-radius: 9px;
      background-color: $white;
      max-width: 697px;
      width: 100%;
      margin-left: 28px;
      padding: 20px 18px;
    }

    &__subtitle {
      @include styletext(17.5px, $admin_title, 21px);
      letter-spacing: -0.4375px;
      font-family: "RobotoMd";
    }

    &__group {
      width: 320px;
      @include styletext(10.5px, $main_black, 12px);
      margin-top: 30px;
      position: relative;

      &--red input {
        border-color: $red;
      }

      &--margin {
        margin-top: 0;
      }
    }

    &__input {
      width: 100%;
      border: 1px solid $admin_border;
      border-radius: 4px;
      @include styletext(11px, $main_black, 13px);
      padding: 7px 11px 8px;
      margin-top: 5px;
    }

    &__error {
      // display: block;
      position: absolute;
      left: 0;
      bottom: -16px;
      @include styletext(10px, $red, 11px);
      // margin-top: 5px;
    }

    &__create {
      width: 30px;
      height: 30px;
      border: 1px solid $admin_border;
      border-radius: 4px;
      background-color: transparent;
      margin-left: 8px;
      position: relative;
      cursor: pointer;

      & span,
      & span::before,
      & span::after {
        height: 2px;
        background-color: $admin_border;
        // border-radius: 3px;
        width: 16px;
        display: block;
        position: absolute;
      }

      & span {
        background-color: transparent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before {
          content: "";
          transform: rotate(90deg);
        }

        &::after {
          content: "";
        }
      }
    }

    &__edit {
    }

    &__delete {
    }

    &__button {
      @include styletext(11.5px, $white, 13px);
      letter-spacing: -0.0821429px;
      width: 110px;
      padding: 7.5px 0 8.5px;
      border-radius: 4px;

      &--blue {
        background-color: $blue;
      }

      &--gray {
        background-color: #e9ecef;
        color: $admin_title;
        margin-left: 10px;
      }

      &--red {
        background-color: $button_red;
      }
    }
  }

  &-footer {
    background-color: $white;

    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px -0.5px 0px #d7dae3;
      padding: 26px 27px;
    }

    &__list {
      display: flex;
    }

    &__item {
      margin-left: 16px;
      @include styletext(14px, $blue, 16px);
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }
    }

    &__copyright {
      @include styletext(14px, #818ea3, 16px);
      font-family: "RobotoMd";
    }
  }
}
