// <Миксины>

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin styletext($fz, $c, $lh) {
  font-size: $fz;
  color: $c;
  line-height: $lh;
}

// </Миксины>

// <Шаблоны>

%flexinitial {
  @include flexbox();
  justify-content: space-between;
  align-items: center;
}

// </Шаблоны>

// <Подключение шрифтов>

@font-face {
  font-family: "RobotoRg";
  src: url("./fonts/Roboto-Regular.eot");
  src: local("☺"), url("./fonts/Roboto-Regular.woff") format("woff"),
    url("./fonts/Roboto-Regular.ttf") format("truetype"),
    url("./fonts/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoMd";
  src: url("fonts/Roboto-Medium.eot");
  src: local("☺"), url("fonts/Roboto-Medium.woff") format("woff"),
    url("fonts/Roboto-Medium.ttf") format("truetype"),
    url("fonts/Roboto-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoL";
  src: url("fonts/Roboto-Light.eot");
  src: local("☺"), url("fonts/Roboto-Light.woff") format("woff"),
    url("fonts/Roboto-Light.ttf") format("truetype"),
    url("fonts/Roboto-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

// </Подключение шрифтов>

// <Переменные>

// <Шрифт по умолчанию>
$fontfamily: "RobotoRg";
// </Шрифт по умолчанию>

$sidebar_bcg: #151b1f;
$main_accent: #0ec261;
$main_black: #121212;
$dark_gray: #999;
$light_gray: #eee;
$admin_bcg: #f5f6f8;
$white: #fff;
$blue: #007bff;
$admin_title: #3d5170;
$admin_subtitle: #495057;
$admin_border: #becad6;
$red: #c4183c;
$button_red: #cb3656;

$minwidth: 320px;
// $mw: 1440px;
$bp1: 1439.98px;
$bp2: 1023.98px;
$bp3: 767.98px;

// </Переменные>

// <Обнуление, общие параметры>

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
  min-width: $minwidth;
  color: #000;
}
body {
  font-size: 100%;
  font-family: $fontfamily;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul[class],
ol[class] {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

// </Обнуление, общие параметры>

// <Оболочка>

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: auto;
}

// </Оболочка>

// <Основная сетка>

.container {
  // max-width: $mw;
  // margin: 0 auto;
  width: 100%;
  // max-width: 100%;
}

// </Основная сетка>

// <Подключение файлов стилей страниц и элементов>

@import "./startscreen.scss";
@import "./orderpage.scss";
@import "./adminpanel.scss";
